ul li{
    text-decoration: none !important;
    display: inline !important;
    margin-right: 25px !important;
    float: right !important;
    margin-top: 18px !important;
  } 

  ul{
    top: 20% !important;
  }

  .menu{    
    font-weight: 500;
  }

  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
}

a:-webkit-any-link:hover {
    color: #031349;
    cursor: pointer;
    text-decoration: none;
}

  .header-content-nav{
      background-color: #5675BC;
      height: 70px;
      margin-top: -16px;
  }