ul li{
    text-decoration: none;
    display: inline;
    margin-right: 25px;
    float: right;
  } 

  ul{
    top: 20%;
  }

  .menu{    
    font-weight: 500;
  }

  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
}

a:-webkit-any-link:hover {
    color: #031349;
    cursor: pointer;
    text-decoration: none;
}

  .header-content-nav{
      background-color: #5675BC;
      height: 70px;
      margin-top: -16px;
  }