.title{
    text-align: center;
}

.input-form{
    text-align: center;
    margin-bottom: 20px; 
}

.text-label{
    margin-right: 7px;
    text-align: center;
}

.text-input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

.btn-blue{
    background-color: #031349;
    color: white;
    width: 115px;
    height: 30px;
    border-radius: 7px;
}

.checkbox-input{
    margin-right: 4px;
}

.button-form{
    text-align: center;
    margin-top: 40px;
}

.multiselect-form{
    width: 200px;
}

.multiSelectContainer {
    position: relative;
    text-align: left;
    width: 400px !important;
    margin-left: 700px !important;
}