.image{
    text-align: center;
    margin-left:24%;
    margin-bottom: 30px;
}

.info-text{
    text-align: center;
    font-weight: 600;
    font-size:20px;
    text-shadow: 1px 1px 2px #c1c1c1;
}

.icon{
    margin-right:10px
    
}

svg {
    stroke: currentcolor;
    fill: #56BC6C;
    stroke-width: 0;
    height: 1.5em;
    width: 1.5em;
}

.footer{
    display: flex;
    margin-top:60px;
    margin-left:27%;
    margin-right:15%;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
.footer {
    display: flex;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 100px;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
    .footer {
        display: flex;
        margin-top: 60px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 100px;
    }
}

@media (min-width: 1001px) and (max-width: 1400px) {
    .footer {
        display: flex;
        margin-top: 60px;
        margin-left: 20%;
        margin-right: 15%;
        margin-bottom: 100px;
    }
}

.footer-info{
    width: 180px;
    margin-left:5%;
    text-align: center;
}

.footer-info-title{
    font-weight: 600;
    font-size:20px;
    text-shadow: 1px 1px 2px #c1c1c1;
}