.first-title{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-content{
    background-color: #031349;
    height: 240px;
}

.subtitle-green{
color:#56BC6C;
text-align: center;
}

.subtitle-white{
    color: white;
    text-align: center;
    width: 25%;
    margin-left: 38%;
    font-size: 18px;
}

@media (min-width: 1301px) and (max-width: 1500px) {
    .subtitle-white{
        color: white;
        text-align: center;
        width: 30%;
        margin-left: 38%;
        font-size: 18px;
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .subtitle-white{
        color: white;
        text-align: center;
        width: 36%;
        margin-left: 32%;
        font-size: 16px;
    }

    .subtitle-green {
        color: #56BC6C;
        text-align: center;
        line-height: 1;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .subtitle-white{
        color: white;
        text-align: center;
        width: 60%;
        margin-left: 20%;
        font-size: 16px;
    }

    .subtitle-green {
        color: #56BC6C;
        text-align: center;
        line-height: 1;
    }
}

@media (max-width: 768px) {
    .subtitle-white{
        color: white;
        text-align: center;
        width: 60%;
        margin-left: 16%;
        font-size: 16px;
    }

    .subtitle-green {
        color: #56BC6C;
        text-align: center;
        line-height: 1;
    }
}

.content{
    margin-top: 13px;
}